# Build
**/target/
**/dist/
**/node_modules/
**/.vite/
**/out/
**/docs

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/uploads/
*.log
temp/
/tmp/

# Sensitive info
.env
*.key
*.pem
